*{
font-family: 'Bebas Neue', cursive;
font-family: 'Fruktur', cursive;
font-family: 'Source Code Pro', monospace;
font-family: 'Zen Antique', serif;
color: white;
}
.card{
    /* display:inline-block;
 
    background-color: aqua; */
}
.icons{
    height: 10%;
    width: 10%;
}
.container{
    border-radius: 40px;
}